﻿body {
}
.btn.hvac:not(.btn-outline) {
    color: #FFF;
    background-color: #42a240;
    border-color: #42a240
}

    .btn.hvac:not(.btn-outline).focus, .btn.hvac:not(.btn-outline):focus {
        color: #FFF;
        background-color: #2c6b2a;
        border-color: #6c776b
    }

    .btn.hvac:not(.btn-outline).active, .btn.hvac:not(.btn-outline):active, .btn.hvac:not(.btn-outline):hover, .open > .btn.hvac:not(.btn-outline).dropdown-toggle {
        color: #FFF;
        background-color: #2c6b2a;
        border-color: #6c776b
    }

        .btn.hvac:not(.btn-outline).active.focus, .btn.hvac:not(.btn-outline).active:focus, .btn.hvac:not(.btn-outline).active:hover, .btn.hvac:not(.btn-outline):active.focus, .btn.hvac:not(.btn-outline):active:focus, .btn.hvac:not(.btn-outline):active:hover, .open > .btn.hvac:not(.btn-outline).dropdown-toggle.focus, .open > .btn.hvac:not(.btn-outline).dropdown-toggle:focus, .open > .btn.hvac:not(.btn-outline).dropdown-toggle:hover {
            color: #FFF;
            background-color: #2c6b2a;
            border-color: #6c776b
        }

    .btn.hvac:not(.btn-outline).active, .btn.hvac:not(.btn-outline):active, .open > .btn.hvac:not(.btn-outline).dropdown-toggle {
        background-image: none
    }

    .btn.hvac:not(.btn-outline).disabled.focus, .btn.hvac:not(.btn-outline).disabled:focus, .btn.hvac:not(.btn-outline).disabled:hover, .btn.hvac:not(.btn-outline)[disabled].focus, .btn.hvac:not(.btn-outline)[disabled]:focus, .btn.hvac:not(.btn-outline)[disabled]:hover, fieldset[disabled] .btn.hvac:not(.btn-outline).focus, fieldset[disabled] .btn.hvac:not(.btn-outline):focus, fieldset[disabled] .btn.hvac:not(.btn-outline):hover {
        background-color: #42a240;
        border-color: #42a240
    }

    .btn.hvac:not(.btn-outline) .badge {
        color: #42a240;
        background-color: #FFF
    }

.btn.btn-outline.hvac {
    border-color: #42a240;
    color: #42a240;
    background: 0 0
}

    .btn.btn-outline.hvac.active, .btn.btn-outline.hvac:active, .btn.btn-outline.hvac:active:focus, .btn.btn-outline.hvac:active:hover, .btn.btn-outline.hvac:focus, .btn.btn-outline.hvac:hover {
        border-color: #42a240;
        color: #FFF;
        background-color: #42a240
    }

.btn.hvac-stripe {
    border-left: 4px solid #42a240 !important
}

.btn.hvac.btn-no-border:not(.active) {
    border-color: transparent
}
/* Cubic Bezier Transition */
/*********** 
    Page Header
    ***********/
/* Header search bar, toggler button & top menu */
.page-header.navbar {
    /* Top notification menu/bar */
    /* Header seaech box */
}

    .page-header.navbar .page-logo {
        background: #e7e7e7;
    }

    .page-header.navbar .page-top {
        box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.2);
        background: #ffffff;
    }

    .page-header.navbar .top-menu .navbar-nav {
        /* Extended Dropdowns */
        /* Notification */
        /* Inbox */
        /* Tasks */
        /* User */
        /* Language */
        /* Dark version */
    }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle:hover {
            background-color: #f9fafc;
        }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle > i {
            color: #C0CDDC;
        }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle .badge.badge-default {
            background-color: #e7e7e7;
            color: #ffffff;
        }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown.open .dropdown-toggle {
            background-color: #f9fafc;
        }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-menu:before {
            border-bottom-color: #e4e8ee;
        }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu {
            border: 1px solid #e4e8ee;
        }

            .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu:before {
                border-bottom-color: #d4dae4;
            }

            .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu:after {
                border-bottom-color: #eaedf2;
            }

            .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external {
                background: #eaedf2;
            }

                .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external > h3 {
                    color: #62878f;
                }

                .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external > a {
                    color: #337ab7;
                }

                    .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external > a:hover {
                        color: #23527c;
                        text-decoration: none;
                    }

            .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li > a {
                border-bottom: 1px solid #EFF2F6 !important;
                color: #888888;
            }

                .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li > a:hover {
                    background: #f8f9fa;
                }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li > a .time {
            background: #f1f1f1;
        }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li > a:hover .time {
            background: #e4e4e4;
        }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown-inbox > .dropdown-toggle > .circle {
            background-color: #e7e7e7;
            color: #ffffff;
        }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown-inbox > .dropdown-toggle > .corner {
            border-color: transparent transparent transparent #e7e7e7;
        }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown-inbox .dropdown-menu .dropdown-menu-list .subject .from {
            color: #5b9bd1;
        }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown-tasks .dropdown-menu .dropdown-menu-list .progress {
            background-color: #dfe2e9;
        }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > .username {
            color: #7f96ac;
        }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > i {
            color: #7f96ac;
        }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-menu {
            width: 195px;
        }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown-language > .dropdown-toggle > .langname {
            color: #7f96ac;
        }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu {
            background: #627587;
            border: 0;
        }

            .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu:after {
                border-bottom-color: #627587;
            }

            .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu > li.external {
                background: #51616f;
            }

                .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu > li.external > h3 {
                    color: #dbe0e4;
                }

                .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu > li.external > a:hover {
                    color: #5496cf;
                }

            .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li a,
            .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu .dropdown-menu-list > li a {
                color: #e9ecef;
                border-bottom: 1px solid #718497 !important;
            }

                .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li a > i,
                .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu .dropdown-menu-list > li a > i {
                    color: #ccd3da;
                }

                .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li a:hover,
                .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu .dropdown-menu-list > li a:hover {
                    background: #6b7f92;
                }

            .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li a {
                border-bottom: 0 !important;
            }

            .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li.divider {
                background: #718497;
            }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown-notification.dropdown-dark .dropdown-menu .dropdown-menu-list > li > a .time {
            background: #586878;
        }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown-notification.dropdown-dark .dropdown-menu .dropdown-menu-list > li > a:hover .time {
            background: #6c776b;
        }

    .page-header.navbar .search-form {
        background: #fff;
    }

        .page-header.navbar .search-form .input-group .form-control {
            color: #7f96ac;
        }

            .page-header.navbar .search-form .input-group .form-control::-moz-placeholder {
                color: #7c94aa;
                opacity: 1;
            }

            .page-header.navbar .search-form .input-group .form-control:-ms-input-placeholder {
                color: #7c94aa;
            }

            .page-header.navbar .search-form .input-group .form-control::-webkit-input-placeholder {
                color: #7c94aa;
            }

        .page-header.navbar .search-form .input-group .input-group-btn .btn.submit > i {
            color: #7f96ac;
        }

/* Page sidebar */
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover,
.page-sidebar {
    background-color: #6c776b;
    /* Default sidebar */
}

    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu,
    .page-sidebar .page-sidebar-menu {
        /* 1st level links */
        /* All links */
    }

        .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a,
        .page-sidebar .page-sidebar-menu > li > a {
            border-top: 1px solid #536372;
            color: #f2f4f6;
        }

@media (max-width: 991px) {
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a,
    .page-sidebar .page-sidebar-menu > li > a {
        /* 991px */
        border-top: 1px solid #5e7081;
    }
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i,
.page-sidebar .page-sidebar-menu > li > a > i {
    color: #7ba0bb;
}

    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i[class^="icon-"],
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i[class*="icon-"],
    .page-sidebar .page-sidebar-menu > li > a > i[class^="icon-"],
    .page-sidebar .page-sidebar-menu > li > a > i[class*="icon-"] {
        color: #a5dba4;
    }

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu > li > a > .arrow:before,
.page-sidebar .page-sidebar-menu > li > a > .arrow.open:before {
    color: #677a8c;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a,
.page-sidebar .page-sidebar-menu > li:hover > a,
.page-sidebar .page-sidebar-menu > li.open > a {
    background: #455045;
    color: white;
}

    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > i,
    .page-sidebar .page-sidebar-menu > li:hover > a > i,
    .page-sidebar .page-sidebar-menu > li.open > a > i {
        color: #a5dba4;
    }

    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a > .arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > .arrow.open:before,
    .page-sidebar .page-sidebar-menu > li:hover > a > .arrow:before,
    .page-sidebar .page-sidebar-menu > li:hover > a > .arrow.open:before,
    .page-sidebar .page-sidebar-menu > li.open > a > .arrow:before,
    .page-sidebar .page-sidebar-menu > li.open > a > .arrow.open:before {
        color: #a5dba4;
    }

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a,
.page-sidebar .page-sidebar-menu > li.active > a,
.page-sidebar .page-sidebar-menu > li.active.open > a {
    background: #44515d;
    color: white;
}

    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a:hover, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a:hover,
    .page-sidebar .page-sidebar-menu > li.active > a:hover,
    .page-sidebar .page-sidebar-menu > li.active.open > a:hover {
        background: #495663;
    }

    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > i,
    .page-sidebar .page-sidebar-menu > li.active > a > i,
    .page-sidebar .page-sidebar-menu > li.active.open > a > i {
        color: #15c1df;
    }

    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > .arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > .arrow.open:before,
    .page-sidebar .page-sidebar-menu > li.active > a > .arrow:before,
    .page-sidebar .page-sidebar-menu > li.active > a > .arrow.open:before,
    .page-sidebar .page-sidebar-menu > li.active.open > a > .arrow:before,
    .page-sidebar .page-sidebar-menu > li.active.open > a > .arrow.open:before {
        color: whitesmoke;
    }

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:last-child > a,
.page-sidebar .page-sidebar-menu > li:last-child > a {
    border-bottom: 1px solid transparent !important;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu li > a > .arrow:before,
.page-sidebar .page-sidebar-menu li > a > .arrow.open:before {
    color: #677a8c;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li:hover > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li:hover > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu li:hover > a > .arrow:before,
.page-sidebar .page-sidebar-menu li:hover > a > .arrow.open:before {
    color: #a5dba4;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li.active > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li.active > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu li.active > a > .arrow:before,
.page-sidebar .page-sidebar-menu li.active > a > .arrow.open:before {
    color: whitesmoke;
}

.page-sidebar-closed .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu:hover .sub-menu, .page-sidebar-closed
.page-sidebar .page-sidebar-menu:hover .sub-menu {
    background: #404c57;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a,
.page-sidebar .page-sidebar-menu .sub-menu > li > a {
    color: #e4e7eb;
}

    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > i,
    .page-sidebar .page-sidebar-menu .sub-menu > li > a > i {
        color: #60bf5e;
    }

        .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > i[class^="icon-"],
        .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > i[class*="icon-"],
        .page-sidebar .page-sidebar-menu .sub-menu > li > a > i[class^="icon-"],
        .page-sidebar .page-sidebar-menu .sub-menu > li > a > i[class*="icon-"] {
            color: #60bf5e;
        }

    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > .arrow.open:before,
    .page-sidebar .page-sidebar-menu .sub-menu > li > a > .arrow:before,
    .page-sidebar .page-sidebar-menu .sub-menu > li > a > .arrow.open:before {
        color: #677a8c;
    }

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a,
.page-sidebar .page-sidebar-menu .sub-menu > li:hover > a,
.page-sidebar .page-sidebar-menu .sub-menu > li.open > a,
.page-sidebar .page-sidebar-menu .sub-menu > li.active > a {
    background: #455045 !important;
}

    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a > i,
    .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > i,
    .page-sidebar .page-sidebar-menu .sub-menu > li.open > a > i,
    .page-sidebar .page-sidebar-menu .sub-menu > li.active > a > i {
        color: #a5dba4;
        color: #c6ced5;
    }

    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a > .arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a > .arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a > .arrow.open:before,
    .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > .arrow:before,
    .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > .arrow.open:before,
    .page-sidebar .page-sidebar-menu .sub-menu > li.open > a > .arrow:before,
    .page-sidebar .page-sidebar-menu .sub-menu > li.open > a > .arrow.open:before,
    .page-sidebar .page-sidebar-menu .sub-menu > li.active > a > .arrow:before,
    .page-sidebar .page-sidebar-menu .sub-menu > li.active > a > .arrow.open:before {
        color: #a5dba4;
    }

/******
    Page Footer 
    ******/
.page-footer .page-footer-inner {
    color: #d5dbe0;
}

.page-footer-fixed .page-footer {
    background-color: #adb5b0;
}

    .page-footer-fixed .page-footer .page-footer-inner {
        color: #121618;
    }

.page-boxed .page-footer .page-footer-inner {
    color: #121618;
}

.page-footer-fixed .page-boxed .page-footer {
    background-color: #adb5b0;
}

@media (min-width: 992px) {
    /* 992px */
    /* Sidebar menu closed */
    .page-sidebar-menu.page-sidebar-menu-hover-submenu li:hover > .sub-menu {
        box-shadow: 5px 5px rgba(48, 48, 48, 0.2);
    }

    .page-sidebar-menu.page-sidebar-menu-closed > li:hover {
        box-shadow: 5px 5px rgba(48, 48, 48, 0.2);
    }

        .page-sidebar-menu.page-sidebar-menu-closed > li:hover > .sub-menu {
            box-shadow: 5px 5px rgba(48, 48, 48, 0.2);
        }
    /* Fixed Sidebar */
    .page-sidebar-fixed:not(.page-footer-fixed) .page-content {
        border-bottom: 0;
    }

    .page-sidebar-fixed:not(.page-footer-fixed) .page-footer {
        background-color: #eef1f5;
    }

        .page-sidebar-fixed:not(.page-footer-fixed) .page-footer .page-footer-inner {
            color: #333;
        }
    /* Boxed Layout */
    .page-boxed {
        background-color: #c0c6c2 !important;
        /* Page container */
    }

        .page-boxed .page-container {
            background-color: #6c776b;
        }

        .page-boxed.page-sidebar-reversed .page-container {
            border-left: 0;
        }

        .page-boxed.page-sidebar-fixed .page-container {
            border-left: 0;
            border-bottom: 0;
        }

        .page-boxed.page-sidebar-reversed.page-sidebar-fixed .page-container {
            border-left: 0;
            border-right: 0;
            border-bottom: 0;
        }
    /* Sidebar Menu Wirh Hoverable Submenu */
    .page-sidebar-menu-hover-submenu li:hover a > .arrow {
        border-right: 8px solid #404c57;
    }

    .page-sidebar-reversed .page-sidebar-menu-hover-submenu li:hover a > .arrow {
        border-left: 8px solid #404c57;
    }

    .page-sidebar-menu-hover-submenu li:hover > .sub-menu {
        background: #404c57 !important;
    }
}

@media (max-width: 991px) {
    /* 991px */
    .page-container {
        background: #eef1f5;
    }

    .page-header.navbar {
        box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.2);
        padding: 0;
        /* Top menu */
    }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle:hover {
            background-color: #f6f7fa;
        }

        .page-header.navbar .page-top {
            box-shadow: none;
        }
}

@media (max-width: 767px) {
    /* 767px */
    .page-header.navbar {
        background: #e7e7e7;
        /* Top menu */
    }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle:hover {
            background-color: #eff1f6;
        }
}

/****
 CSS3 Spinner Bar  
****/
.page-spinner-bar > div,
.block-spinner-bar > div {
    background: #1acbea;
}

/****
    Boby
    ****/
body {
    background-color: #6c776b;
}

    body.page-boxed {
        background-color: #c8cdca;
    }

