﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="PowerBi.aspx.cs" Inherits="HVAC.PowerBi" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
              <div style="clear: both;">
            <iframe id="powerframe" runat="server" src="https://app.powerbi.com/view?r=eyJrIjoiZWJmNTEyN2EtMmM3OS00NmM0LTk3ZjAtNzQ0MDNjM2Q4YzM1IiwidCI6ImZkOTFjNWIzLTQwODktNDliNC1iYjA2LTdiMmFjNTdlYTdkNiIsImMiOjh9" style="width: 97vw; height: 95vh;  width:100%;display:block;z-index: 10000; position: relative"></iframe>
<%--            <iframe width="800" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiNTI4NjFhMTAtOWM1NS00MDI1LTllM2MtYTZhNDQ1MGEyOGYxIiwidCI6ImZkOTFjNWIzLTQwODktNDliNC1iYjA2LTdiMmFjNTdlYTdkNiIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>--%>
            <input id="Hidden1" type="hidden" runat="server" />
  
        </div>
        </div>
    </form>
</body>
</html>
